body {
    background-color: skyblue;   
    font-family: sans-serif;   
    font-size: 20px;   
    padding: 25px;   
    margin: 0;   
    overflow: auto; 
}

.reaction {
    background-color: lightgreen;
    padding: 25px;
    margin-bottom: 25px;
}

.places {
    background-color: lightpink;
    padding: 25px;
    width: 50%;
    margin: auto;
}

td{
    padding-right: 40px;
}
